.worksheet {
  text-align: center;
}

.worksheet-logo {
  height: 40vmin;
  pointer-events: none;
}

.worksheet-content {
  background-color: navajowhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: saddlebrown;
}

.worksheet-link {
  color: #61dafb;
}


.wordlist {
  display: table;
}

.word {
  display: table-row;
}

.word span {
  display: table-cell;
  padding-left: 10px;
  padding-right: 10px;
}