.worksheet {
  text-align: center;
}

.worksheet-logo {
  height: 40vmin;
  pointer-events: none;
}

.worksheet-header {
  background-color: navajowhite;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: saddlebrown;
}

.worksheet-link {
  color: #61dafb;
}
